<h1>Welcome to my portfolio!</h1>

<div class="row">
    <div class="col-sm-4 col-xs-12">
        <h3>Programming Languages:</h3>

        <ul>
            <li>C</li>
            <li>C++</li>
            <li>Python</li>
            <li>Ruby</li>
        </ul>
    </div>

    <div class="col-sm-4 col-xs-12">
        <h3>Web Development:</h3>

        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ul>
    </div>

    <div class="col-sm-4 col-xs-12">
        <h3>Frameworks:</h3>

        <ul>
            <li>Ruby on Rails</li>
            <li>Django</li>
            <li>PowerApps</li>
        </ul>
    </div>
</div>