<h1>Portfolio:</h1>

<% @works.each do |work| %>
    <div class="row">
        <h3 style="margin-top:50px"><%= work.title %></h3>

        <%= link_to (image_tag work.picture, class: "lower-opacity mx-auto d-block"), work_path(work) %>
        
        <p style="text-align:center">Click image to view more</p>
    </div>
<% end %>
