<h1 class="text-center">About me:</h1>

<div class="row">
    <div class="col-6">
        <h3>About Me:</h3>
        <p>
            My name is Kaleb Gwyn, and I have been fascinated by technology ever since I was a kid. My goal is to learn everything I can in this field, so that I can solve any problem thrown my way.
        </p>

        <h3>Education:</h3>
        <p>
            I am currently a senior at the University of Memphis, and by the end of this year, I should have a bachelor's degree for Computer Science. I have studied in various areas such as programming languages, web development, and discrete math.
        </p>

        <h3>Skills:</h3>
        <p>
            As you may have already seen on the homepage, I can develop in multiple languages such as C, C++, Python, and Ruby. I have created webpages using HTML for the general structure, CSS for the styling, and JavaScript for any dynamic content. Also, I can develop using frameworks such as Ruby on Rails, Django, and PowerApps.
        </p>

        <h3>Achievements:</h3>
        <p>
            I have earned Dean's List multiple semesters at the University of Memphis. I've worked hard to keep up my scholarships, and I plan to keep going until the very end!
        </p>
    </div>

    <div class="col-6">
        <%= image_tag "me", style: "margin-top: 50px"%>
    </div>
</div>