<h1>About me:</h1>

<div class="row">
    <div class="col-6">
        <h3>About Me:</h3>
        <p>
            My name is Kaleb Gwyn, and I have always been fascinated by technology. My goal is to learn everything I can in this field so that I can solve any problem thrown my way and continue to satisfy my curiosity.
        </p>
    </div>

    <div class="col-6">
        <h3>Education:</h3>
        <p>
            I have a Bachelor's degree in Computer Science from the University of Memphis. There, I studied in various areas such as programming languages, web development, and discrete math.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h3>Skills:</h3>
        <p>
            I can develop in multiple languages such as C, C++, Python, and Ruby. I have created webpages using HTML, CSS, and JavaScript. Also, I can develop using frameworks such as Ruby on Rails, Django, and PowerApps.
        </p>
    </div>

    <div class="col-6">
        <h3>Achievements:</h3>
        <p>
            I graduated with a 4.0 GPA in only 3 years! I also earned Dean's List multiple semesters and maintained all my scholarships.
        </p>
    </div>
</div>